# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ildo2\Desktop\Hibernate Introduction - 26.10.2020 && 27.10.2020\EXERCISE\Code\3_Hibernate Introduction EXERCISE 27.10.2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
